<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Stack Multipurpose HTML Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Site Description Here">
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/stack-interface.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/socicon.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/lightbox.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/flickity.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/iconsmind.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/jquery.steps.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/theme.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/custom.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700%7CMerriweather:300,300i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>

    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->

  <script type="text/javascript" src="path/to/smoothscroll.min.js"></script>
    <style>
      #butt{
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        font-size: 18px;
        border:none;
        outline: none;
        background-color: rgba(0,0,0,0);
        color: black;
        cursor: pointer;
        padding: 15px;
        border-radius: 50%;
        width: 70px;
        text-align: center;
        -webkit-transition-property: box-shadow;
        -webkit-transition-duration: 0.5s;
        transition-property: box-shadow;
        transition-duration: 0.5s;
        -webkit-transition-property: transform;
        -webkit-transition-duration: 0.5s;
        transition-property: transform;
        transition-duration: 0.5s;
      }

      #butt:hover{
        box-shadow: 0 2px #D5D3D3;
        transform: translate3d(0, -5px, 0);
        -webkit-transform: translate3d(0, -5px, 0);
      }
    </style>
  </head>



  <body class=" ">
    <a id="start"></a>
      <div class="nav-container">
          <nav class="bar bar-4 bar--transparent bar--absolute" data-fixed-at="200">
              <div class="container">
                  <div class="row">
                      <div style="text-align: right">
                          <% if ( account === undefined ){ %>
                          <div class="modal-instance">
                              <a class="modal-trigger btn btn--primary type--uppercase" href="#log-in">
                                  <span class="btn__text">
                                      로그인
                                  </span>
                              </a>
                              <div class="modal-container" data-modal-id="log-in">
                                  <div class="modal-content imagebg text-center">
                                      <div class="container">
                                          <div class="row">
                                              <h2>로그인</h2>
                                              <form id="login" action="/login" method="post" data-success="로그인 되었습니다." data-error="이메일과 비밀번호를 입력해주세요.">
                                                  <div class="col-md-4 col-sm-4">
                                                      <input class="validate-required" type="text" name="id" placeholder="아이디"/>
                                                  </div>
                                                  <div class="col-md-4 col-sm-4">
                                                      <input class="validate-required" type="password" name="pw" placeholder="비밀번호"/>
                                                  </div>
                                                  <div class="col-md-4 col-sm-4">
                                                      <a href="#" onclick="document.getElementById('login').submit();"><button type="submit" class="btn btn--primary type--uppercase">로그인</button></a>
                                                  </div>
                                                  <div class="col-sm-12">
                                                      <span>회원이 아니십니까?
                                                          <a href="#sign-in">회원가입</a>
                                                      </span>
                                                  </div>
                                                  <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                                      <input type="text" name="b_77142ece814d3cff52058a51f_f300c9cce8" tabindex="-1" value="">
                                                  </div>
                                              </form>
                                          </div>
                                          <!--end of row-->
                                      </div>
                                      <!--end of container-->
                                  </div>
                              </div>
                              <!--end modal container-->
                          </div>
                          <!--end modal instance-->
                          <div class="modal-instance">
                              <a class="modal-trigger btn btn--primary type--uppercase" href="#sign-in">
                                  <span class="btn__text">
                                          회원가입
                                  </span>
                              </a>
                              <div class="modal-container" data-modal-id="sign-in">
                                  <div class="modal-content imagebg text-center">
                                      <div class="container">
                                          <div class="row">
                                              <h2>회원가입</h2>
                                              <form id="register" method ="post" action="/register" data-success="회원가입이 완료되었습니다." data-error="제대로 입력해주세요.">
                                                  <div class="col-md-3 col-sm-3">
                                                      <input class="validate-required" type="text" name="id" placeholder="아이디" id="id"/>
                                                  </div>
                                                  <div class="col-md-3 col-sm-3">
                                                      <input class="validate-required" type="text" name="name" placeholder="이름" id="name"/>
                                                  </div>
                                                  <div class="col-md-3 col-sm-3">
                                                      <input class="validate-required" type="password" name="pw" placeholder="비밀번호" id="pw"/>
                                                  </div>
                                                  <div class="col-md-3 col-sm-3">
                                                      <a href = "#" onclick="document.getElementById('register').submit();"><button type="submit" class="btn btn--primary type--uppercase">회원가입</button></a>
                                                  </div>
                                                  <div class="col-sm-12">
                                                      <span>이미 가입하셨습니까?
                                                              <a href="#log-in">로그인</a>
                                                      </span>
                                                  </div>
                                                  <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                                      <input type="text" name="b_77142ece814d3cff52058a51f_f300c9cce8" tabindex="-1" value="">
                                                  </div>
                                              </form>
                                          </div>
                                          <!--end of row-->
                                      </div>
                                      <!--end of container-->
                                  </div>
                              </div>
                              <!--end modal container-->
                          </div>
                          <% } else { %>
                              <div class="container">
                                  <h5 style="display: inline;">안녕하세요, <%= account.name %>님 </h5><a href="/logout"> 로그아웃</a>
                              </div>
                          <% } %>
                          <!--end modal instance-->
                      </div>
                      <!--end module-->
                  </div>
                  <!--end of row-->
              </div>
              <!--end of container-->
          </nav>
          <!--end bar-->
      </div>
        <div class="main-container scrolling-box">
            <section class="imagebg height-100 text-center" data-gradient-bg="#edf2f4,#cedfe5,#a3bdc6,#608b99">
                <div class="background-image-holder">
                    <img alt="background" src="img/water.jpg"/>
                </div>
                <div class="container pos-vertical-center">
                    <div class="row">
                        <div class="col-sm-9">
                            <img alt="Image" src="img/Titley.png"/>
                            <nav class="navbar navbar-light bg-light">
                                    <form class="form-inline">
                                      <div style="display: inline-block">
                                        <div class="tabs-container" data-content-align="left">
                                        	<ul class="tabs">
                                        		<li class="active">
                                        			<div class="tab__title">
                                        				<span class="h5" style="color: black;">남구</span>
                                        			</div>
                                              <div class="tab__content" style="color: black;">
                                                  <a href="/index2" style="color: black; text-decoration: none">대명1동</a>
                                          				<a href="/" style="color: black; text-decoration: none">대명2동</a>
                                                  <a href="/" style="color: black; text-decoration: none">대명3동</a>
                                                  <a href="/" style="color: black; text-decoration: none">대명4동</a>
                                                  <a href="/" style="color: black; text-decoration: none">대명5동</a>
                                                  <a href="/" style="color: black; text-decoration: none">대명6동</a>
                                                  <a href="/" style="color: black; text-decoration: none">대명9동</a>
                                                  <a href="/" style="color: black; text-decoration: none">대명10동</a>
                                                  <a href="/" style="color: black; text-decoration: none">대명11동</a>
                                                  <a href="/" style="color: black; text-decoration: none">대명동</a>
                                                  <a href="/" style="color: black; text-decoration: none">봉덕1동</a>
                                                  <a href="/" style="color: black; text-decoration: none">봉덕2동</a>
                                                  <a href="/" style="color: black; text-decoration: none">봉덕3동</a>
                                                  <a href="/" style="color: black; text-decoration: none">봉덕동</a>
                                                  <a href="/" style="color: black; text-decoration: none">이천동</a>
                                        			</div>
                                        		</li>
                                            <li>
                                        			<div class="tab__title">
                                        				<span class="h5" style="color: black;">달서구</span>
                                        			</div>
                                        			<div class="tab__content" style="color: black;">
                                        				<a href="/" style="color: black; text-decoration: none">갈산동</a>
                                                <a href="/" style="color: black; text-decoration: none">감삼동</a>
                                                <a href="/" style="color: black; text-decoration: none">대곡동</a>
                                                <a href="/" style="color: black; text-decoration: none">대천동</a>
                                                <a href="/" style="color: black; text-decoration: none">도원동</a>
                                                <a href="/" style="color: black; text-decoration: none">두류1.2동</a>
                                                <a href="/" style="color: black; text-decoration: none">두류3동</a>
                                                <a href="/" style="color: black; text-decoration: none">두류동</a>
                                                <a href="/" style="color: black; text-decoration: none">본동</a>
                                                <a href="/" style="color: black; text-decoration: none">본리동</a>
                                                <a href="/" style="color: black; text-decoration: none">상인1동</a>
                                                <a href="/" style="color: black; text-decoration: none">상인2동</a>
                                                <a href="/" style="color: black; text-decoration: none">상인3동</a>
                                                <a href="/" style="color: black; text-decoration: none">상인동</a>
                                                <a href="/" style="color: black; text-decoration: none">성당동</a>
                                                <a href="/" style="color: black; text-decoration: none">송현1동</a>
                                                <a href="/" style="color: black; text-decoration: none">송현2동</a>
                                                <a href="/" style="color: black; text-decoration: none">송현동</a>
                                                <a href="/" style="color: black; text-decoration: none">신당동</a>
                                                <a href="/" style="color: black; text-decoration: none">용산1동</a>
                                                <a href="/" style="color: black; text-decoration: none">용산2동</a>
                                                <a href="/" style="color: black; text-decoration: none">용산동</a>
                                                <a href="/" style="color: black; text-decoration: none">월성1동</a>
                                                <a href="/" style="color: black; text-decoration: none">월성2동</a>
                                                <a href="/" style="color: black; text-decoration: none">월성동</a>
                                                <a href="/" style="color: black; text-decoration: none">월암동</a>
                                                <a href="/" style="color: black; text-decoration: none">유천동</a>
                                                <a href="/" style="color: black; text-decoration: none">이곡1동</a>
                                                <a href="/" style="color: black; text-decoration: none">이곡2동</a>
                                                <a href="/" style="color: black; text-decoration: none">이곡동</a>
                                                <a href="/" style="color: black; text-decoration: none">장기동</a>
                                                <a href="/" style="color: black; text-decoration: none">장동</a>
                                                <a href="/" style="color: black; text-decoration: none">죽전동</a>
                                                <a href="/" style="color: black; text-decoration: none">진천동</a>
                                                <a href="/" style="color: black; text-decoration: none">파호동</a>
                                                <a href="/" style="color: black; text-decoration: none">호림동</a>
                                                <a href="/" style="color: black; text-decoration: none">호산동</a>
                                        			</div>
                                        		</li>
                                            <li>
                                        			<div class="tab__title">
                                        				<span class="h5" style="color: black;">달성군</span>
                                        			</div>
                                        			<div class="tab__content" style="color: black;">
                                        				<a href="/" style="color: black; text-decoration: none">가창면</a>
                                                <a href="/" style="color: black; text-decoration: none">구지면</a>
                                                <a href="/" style="color: black; text-decoration: none">논공읍</a>
                                                <a href="/" style="color: black; text-decoration: none">다사읍</a>
                                                <a href="/" style="color: black; text-decoration: none">옥포면</a>
                                                <a href="/" style="color: black; text-decoration: none">유가읍</a>
                                                <a href="/" style="color: black; text-decoration: none">하빈면</a>
                                                <a href="/" style="color: black; text-decoration: none">현풍면</a>
                                                <a href="/" style="color: black; text-decoration: none">화원읍</a>
                                        			</div>
                                        		</li>
                                            <li>
                                        			<div class="tab__title">
                                        				<span class="h5" style="color: black;">동구</span>
                                        			</div>
                                        			<div class="tab__content" style="color: black;">
                                        				<a href="/" style="color: black; text-decoration: none">각산동</a>
                                                <a href="/" style="color: black; text-decoration: none">검사동</a>
                                                <a href="/" style="color: black; text-decoration: none">공산동</a>
                                                <a href="/" style="color: black; text-decoration: none">괴전동</a>
                                                <a href="/" style="color: black; text-decoration: none">금강동</a>
                                                <a href="/" style="color: black; text-decoration: none">내곡동</a>
                                                <a href="/" style="color: black; text-decoration: none">내동</a>
                                                <a href="/" style="color: black; text-decoration: none">능성동</a>
                                                <a href="/" style="color: black; text-decoration: none">대림동</a>
                                                <a href="/" style="color: black; text-decoration: none">덕곡동</a>
                                                <a href="/" style="color: black; text-decoration: none">도동</a>
                                                <a href="/" style="color: black; text-decoration: none">도평동</a>
                                                <a href="/" style="color: black; text-decoration: none">도학동</a>
                                                <a href="/" style="color: black; text-decoration: none">동내동</a>
                                                <a href="/" style="color: black; text-decoration: none">동촌동</a>
                                                <a href="/" style="color: black; text-decoration: none">동호동</a>
                                                <a href="/" style="color: black; text-decoration: none">둔산동</a>
                                                <a href="/" style="color: black; text-decoration: none">매여동</a>
                                                <a href="/" style="color: black; text-decoration: none">미곡동</a>
                                                <a href="/" style="color: black; text-decoration: none">미대동</a>
                                                <a href="/" style="color: black; text-decoration: none">방촌동</a>
                                                <a href="/" style="color: black; text-decoration: none">백안동</a>
                                                <a href="/" style="color: black; text-decoration: none">봉무동</a>
                                                <a href="/" style="color: black; text-decoration: none">부동</a>
                                                <a href="/" style="color: black; text-decoration: none">불로.봉무동</a>
                                                <a href="/" style="color: black; text-decoration: none">불로동</a>
                                                <a href="/" style="color: black; text-decoration: none">사복동</a>
                                                <a href="/" style="color: black; text-decoration: none">상매동</a>
                                                <a href="/" style="color: black; text-decoration: none">서호동</a>
                                                <a href="/" style="color: black; text-decoration: none">송정동</a>
                                                <a href="/" style="color: black; text-decoration: none">숙천동</a>
                                                <a href="/" style="color: black; text-decoration: none">신기동</a>
                                                <a href="/" style="color: black; text-decoration: none">신무동</a>
                                                <a href="/" style="color: black; text-decoration: none">신서동</a>
                                                <a href="/" style="color: black; text-decoration: none">신암1동</a>
                                                <a href="/" style="color: black; text-decoration: none">신암2동</a>
                                                <a href="/" style="color: black; text-decoration: none">신암3동</a>
                                                <a href="/" style="color: black; text-decoration: none">신암4동</a>
                                                <a href="/" style="color: black; text-decoration: none">신암5동</a>
                                                <a href="/" style="color: black; text-decoration: none">신암동</a>
                                                <a href="/" style="color: black; text-decoration: none">신용동</a>
                                                <a href="/" style="color: black; text-decoration: none">신천1.2동</a>
                                                <a href="/" style="color: black; text-decoration: none">신천3동</a>
                                                <a href="/" style="color: black; text-decoration: none">신천4동</a>
                                                <a href="/" style="color: black; text-decoration: none">신천동</a>
                                                <a href="/" style="color: black; text-decoration: none">신평동</a>
                                                <a href="/" style="color: black; text-decoration: none">안심1동</a>
                                                <a href="/" style="color: black; text-decoration: none">안심2동</a>
                                                <a href="/" style="color: black; text-decoration: none">안심3.4동</a>
                                                <a href="/" style="color: black; text-decoration: none">용계동</a>
                                                <a href="/" style="color: black; text-decoration: none">용수동</a>
                                                <a href="/" style="color: black; text-decoration: none">율암동</a>
                                                <a href="/" style="color: black; text-decoration: none">율하동</a>
                                                <a href="/" style="color: black; text-decoration: none">입석동</a>
                                                <a href="/" style="color: black; text-decoration: none">중대동</a>
                                                <a href="/" style="color: black; text-decoration: none">지묘동</a>
                                                <a href="/" style="color: black; text-decoration: none">지저동</a>
                                                <a href="/" style="color: black; text-decoration: none">진인동</a>
                                                <a href="/" style="color: black; text-decoration: none">평광동</a>
                                                <a href="/" style="color: black; text-decoration: none">해안동</a>
                                                <a href="/" style="color: black; text-decoration: none">효목1동</a>
                                                <a href="/" style="color: black; text-decoration: none">효목2동</a>
                                                <a href="/" style="color: black; text-decoration: none">효목동</a>
                                        			</div>
                                        		</li>
                                            <li>
                                        			<div class="tab__title">
                                        				<span class="h5" style="color: black;">북구</span>
                                        			</div>
                                        			<div class="tab__content" style="color: black;">
                                                <a href="/" style="color: black; text-decoration: none">검단동</a>
                                                <a href="/" style="color: black; text-decoration: none">고성동</a>
                                                <a href="/" style="color: black; text-decoration: none">고성동1가</a>
                                                <a href="/" style="color: black; text-decoration: none">고성동2가</a>
                                                <a href="/" style="color: black; text-decoration: none">고성동3가</a>
                                                <a href="/" style="color: black; text-decoration: none">관문동</a>
                                                <a href="/" style="color: black; text-decoration: none">관음동</a>
                                                <a href="/" style="color: black; text-decoration: none">구암동</a>
                                                <a href="/" style="color: black; text-decoration: none">국우동</a>
                                                <a href="/" style="color: black; text-decoration: none">금호동</a>
                                                <a href="/" style="color: black; text-decoration: none">노곡동</a>
                                                <a href="/" style="color: black; text-decoration: none">노원동</a>
                                                <a href="/" style="color: black; text-decoration: none">노원동1가</a>
                                                <a href="/" style="color: black; text-decoration: none">노원동2가</a>
                                                <a href="/" style="color: black; text-decoration: none">노원동3가</a>
                                                <a href="/" style="color: black; text-decoration: none">대현동</a>
                                                <a href="/" style="color: black; text-decoration: none">도남동</a>
                                                <a href="/" style="color: black; text-decoration: none">동변동</a>
                                                <a href="/" style="color: black; text-decoration: none">동천동</a>
                                                <a href="/" style="color: black; text-decoration: none">동호동</a>
                                                <a href="/" style="color: black; text-decoration: none">매천동</a>
                                                <a href="/" style="color: black; text-decoration: none">무태조야동</a>
                                                <a href="/" style="color: black; text-decoration: none">복현1동</a>
                                                <a href="/" style="color: black; text-decoration: none">복현2동</a>
                                                <a href="/" style="color: black; text-decoration: none">복현동</a>
                                                <a href="/" style="color: black; text-decoration: none">사수동</a>
                                                <a href="/" style="color: black; text-decoration: none">산격1동</a>
                                                <a href="/" style="color: black; text-decoration: none">산격2동</a>
                                                <a href="/" style="color: black; text-decoration: none">산격3동</a>
                                                <a href="/" style="color: black; text-decoration: none">산격4동</a>
                                                <a href="/" style="color: black; text-decoration: none">산격동</a>
                                                <a href="/" style="color: black; text-decoration: none">서변동</a>
                                                <a href="/" style="color: black; text-decoration: none">연경동</a>
                                                <a href="/" style="color: black; text-decoration: none">읍내동</a>
                                                <a href="/" style="color: black; text-decoration: none">조야동</a>
                                                <a href="/" style="color: black; text-decoration: none">칠성동</a>
                                                <a href="/" style="color: black; text-decoration: none">칠성동1가</a>
                                                <a href="/" style="color: black; text-decoration: none">칠성동2가</a>
                                                <a href="/" style="color: black; text-decoration: none">침산1동</a>
                                                <a href="/" style="color: black; text-decoration: none">침산2동</a>
                                                <a href="/" style="color: black; text-decoration: none">침산3동</a>
                                                <a href="/" style="color: black; text-decoration: none">침산동</a>
                                                <a href="/" style="color: black; text-decoration: none">태전1동</a>
                                                <a href="/" style="color: black; text-decoration: none">태전2동</a>
                                                <a href="/" style="color: black; text-decoration: none">태전동</a>
                                                <a href="/" style="color: black; text-decoration: none">팔달동</a>
                                                <a href="/" style="color: black; text-decoration: none">학정동</a>
                                        			</div>
                                        		</li>
                                            <li>
                                        			<div class="tab__title">
                                        				<span class="h5" style="color: black;">서구</span>
                                        			</div>
                                        			<div class="tab__content" style="color: black;">
                                                <a href="/" style="color: black; text-decoration: none">내당1동</a>
                                                <a href="/" style="color: black; text-decoration: none">내당2.3동</a>
                                                <a href="/" style="color: black; text-decoration: none">내당4동</a>
                                                <a href="/" style="color: black; text-decoration: none">내당동</a>
                                                <a href="/" style="color: black; text-decoration: none">비산1동</a>
                                                <a href="/" style="color: black; text-decoration: none">비산2.3동</a>
                                                <a href="/" style="color: black; text-decoration: none">비산4동</a>
                                                <a href="/" style="color: black; text-decoration: none">비산5동</a>
                                                <a href="/" style="color: black; text-decoration: none">비산6동</a>
                                                <a href="/" style="color: black; text-decoration: none">비산7동</a>
                                                <a href="/" style="color: black; text-decoration: none">비산동</a>
                                                <a href="/" style="color: black; text-decoration: none">상리동</a>
                                                <a href="/" style="color: black; text-decoration: none">상중이동</a>
                                                <a href="/" style="color: black; text-decoration: none">원대동</a>
                                                <a href="/" style="color: black; text-decoration: none">원대동1가</a>
                                                <a href="/" style="color: black; text-decoration: none">원대동2가</a>
                                                <a href="/" style="color: black; text-decoration: none">원대동3가</a>
                                                <a href="/" style="color: black; text-decoration: none">이현동</a>
                                                <a href="/" style="color: black; text-decoration: none">중리동</a>
                                                <a href="/" style="color: black; text-decoration: none">평리1동</a>
                                                <a href="/" style="color: black; text-decoration: none">평리2동</a>
                                                <a href="/" style="color: black; text-decoration: none">평리3동</a>
                                                <a href="/" style="color: black; text-decoration: none">평리4동</a>
                                                <a href="/" style="color: black; text-decoration: none">평리5동</a>
                                                <a href="/" style="color: black; text-decoration: none">평리6동</a>
                                                <a href="/" style="color: black; text-decoration: none">평리동</a>
                                        			</div>
                                        		</li>
                                            <li>
                                        			<div class="tab__title">
                                        				<span class="h5" style="color: black;">수성구</span>
                                        			</div>
                                        			<div class="tab__content" style="color: black;">
                                                <a href="/" style="color: black; text-decoration: none">가천동</a>
                                                <a href="/" style="color: black; text-decoration: none">고모동</a>
                                                <a href="/" style="color: black; text-decoration: none">고산1동</a>
                                                <a href="/" style="color: black; text-decoration: none">고산2동</a>
                                                <a href="/" style="color: black; text-decoration: none">고산3동</a>
                                                <a href="/" style="color: black; text-decoration: none">노변동</a>
                                                <a href="/" style="color: black; text-decoration: none">대흥동</a>
                                                <a href="/" style="color: black; text-decoration: none">두산동</a>
                                                <a href="/" style="color: black; text-decoration: none">만촌1동</a>
                                                <a href="/" style="color: black; text-decoration: none">만촌2동</a>
                                                <a href="/" style="color: black; text-decoration: none">만촌3동</a>
                                                <a href="/" style="color: black; text-decoration: none">만촌동</a>
                                                <a href="/" style="color: black; text-decoration: none">매호동</a>
                                                <a href="/" style="color: black; text-decoration: none">범물1동</a>
                                                <a href="/" style="color: black; text-decoration: none">범물2동</a>
                                                <a href="/" style="color: black; text-decoration: none">범물동</a>
                                                <a href="/" style="color: black; text-decoration: none">범어1동</a>
                                                <a href="/" style="color: black; text-decoration: none">범어2동</a>
                                                <a href="/" style="color: black; text-decoration: none">범어3동</a>
                                                <a href="/" style="color: black; text-decoration: none">범어4동</a>
                                                <a href="/" style="color: black; text-decoration: none">범어동</a>
                                                <a href="/" style="color: black; text-decoration: none">사월동</a>
                                                <a href="/" style="color: black; text-decoration: none">삼덕동</a>
                                                <a href="/" style="color: black; text-decoration: none">상동</a>
                                                <a href="/" style="color: black; text-decoration: none">성동</a>
                                                <a href="/" style="color: black; text-decoration: none">수성1가동</a>
                                                <a href="/" style="color: black; text-decoration: none">수성2.3가동</a>
                                                <a href="/" style="color: black; text-decoration: none">수성4가동</a>
                                                <a href="/" style="color: black; text-decoration: none">수성동1가</a>
                                                <a href="/" style="color: black; text-decoration: none">수성동2가</a>
                                                <a href="/" style="color: black; text-decoration: none">수성동3가</a>
                                                <a href="/" style="color: black; text-decoration: none">수성동4가</a>
                                                <a href="/" style="color: black; text-decoration: none">시지동</a>
                                                <a href="/" style="color: black; text-decoration: none">신매동</a>
                                                <a href="/" style="color: black; text-decoration: none">연호동</a>
                                                <a href="/" style="color: black; text-decoration: none">옥수동</a>
                                                <a href="/" style="color: black; text-decoration: none">이천동</a>
                                                <a href="/" style="color: black; text-decoration: none">중동</a>
                                                <a href="/" style="color: black; text-decoration: none">지산1동</a>
                                                <a href="/" style="color: black; text-decoration: none">지산2동</a>
                                                <a href="/" style="color: black; text-decoration: none">지산동</a>
                                                <a href="/" style="color: black; text-decoration: none">파동</a>
                                                <a href="/" style="color: black; text-decoration: none">황금1동</a>
                                                <a href="/" style="color: black; text-decoration: none">황금2동</a>
                                                <a href="/" style="color: black; text-decoration: none">황금동</a>
                                        			</div>
                                        		</li>
                                        		<li>
                                        			<div class="tab__title">
                                        				<span class="h5" style="color: black;">중구</span>
                                        			</div>
                                        			<div class="tab__content" style="color: black;">
                                                <a href="/" style="color: black; text-decoration: none">계산동1가</a>
                                                <a href="/" style="color: black; text-decoration: none">계산동2가</a>
                                                <a href="/" style="color: black; text-decoration: none">공평동</a>
                                                <a href="/" style="color: black; text-decoration: none">교동</a>
                                                <a href="/" style="color: black; text-decoration: none">남산1동</a>
                                                <a href="/" style="color: black; text-decoration: none">남산2동</a>
                                                <a href="/" style="color: black; text-decoration: none">남산3동</a>
                                                <a href="/" style="color: black; text-decoration: none">남산4동</a>
                                                <a href="/" style="color: black; text-decoration: none">남산동</a>
                                                <a href="/" style="color: black; text-decoration: none">남성로</a>
                                                <a href="/" style="color: black; text-decoration: none">남일동</a>
                                                <a href="/" style="color: black; text-decoration: none">달성동</a>
                                                <a href="/" style="color: black; text-decoration: none">대봉1동</a>
                                                <a href="/" style="color: black; text-decoration: none">대봉2동</a>
                                                <a href="/" style="color: black; text-decoration: none">대봉동</a>
                                                <a href="/" style="color: black; text-decoration: none">대신동</a>
                                                <a href="/" style="color: black; text-decoration: none">대안동</a>
                                                <a href="/" style="color: black; text-decoration: none">덕산동</a>
                                                <a href="/" style="color: black; text-decoration: none">도원동</a>
                                                <a href="/" style="color: black; text-decoration: none">동문동</a>
                                                <a href="/" style="color: black; text-decoration: none">동산동</a>
                                                <a href="/" style="color: black; text-decoration: none">동성로1가</a>
                                                <a href="/" style="color: black; text-decoration: none">동성로2가</a>
                                                <a href="/" style="color: black; text-decoration: none">동성로3가</a>
                                                <a href="/" style="color: black; text-decoration: none">동인동</a>
                                                <a href="/" style="color: black; text-decoration: none">동인동1가</a>
                                                <a href="/" style="color: black; text-decoration: none">동인동2가</a>
                                                <a href="/" style="color: black; text-decoration: none">동인동3가</a>
                                                <a href="/" style="color: black; text-decoration: none">동인동4가</a>
                                                <a href="/" style="color: black; text-decoration: none">동일동</a>
                                                <a href="/" style="color: black; text-decoration: none">문화동</a>
                                                <a href="/" style="color: black; text-decoration: none">봉산동</a>
                                                <a href="/" style="color: black; text-decoration: none">북내동</a>
                                                <a href="/" style="color: black; text-decoration: none">북성로1가</a>
                                                <a href="/" style="color: black; text-decoration: none">북성로2가</a>
                                                <a href="/" style="color: black; text-decoration: none">사일동</a>
                                                <a href="/" style="color: black; text-decoration: none">삼덕동</a>
                                                <a href="/" style="color: black; text-decoration: none">삼덕동1가</a>
                                                <a href="/" style="color: black; text-decoration: none">삼덕동2가</a>
                                                <a href="/" style="color: black; text-decoration: none">삼덕동3가</a>
                                                <a href="/" style="color: black; text-decoration: none">상덕동</a>
                                                <a href="/" style="color: black; text-decoration: none">상서동</a>
                                                <a href="/" style="color: black; text-decoration: none">서내동</a>
                                                <a href="/" style="color: black; text-decoration: none">서문로1가</a>
                                                <a href="/" style="color: black; text-decoration: none">서문로2가</a>
                                                <a href="/" style="color: black; text-decoration: none">서성로1가</a>
                                                <a href="/" style="color: black; text-decoration: none">서성로2가</a>
                                                <a href="/" style="color: black; text-decoration: none">서야동</a>
                                                <a href="/" style="color: black; text-decoration: none">성내1동</a>
                                                <a href="/" style="color: black; text-decoration: none">성내2동</a>
                                                <a href="/" style="color: black; text-decoration: none">성내3동</a>
                                                <a href="/" style="color: black; text-decoration: none">수동</a>
                                                <a href="/" style="color: black; text-decoration: none">수창동</a>
                                                <a href="/" style="color: black; text-decoration: none">시장북로</a>
                                                <a href="/" style="color: black; text-decoration: none">완전동</a>
                                                <a href="/" style="color: black; text-decoration: none">용덕동</a>
                                                <a href="/" style="color: black; text-decoration: none">인교동</a>
                                                <a href="/" style="color: black; text-decoration: none">장관동</a>
                                                <a href="/" style="color: black; text-decoration: none">전동</a>
                                                <a href="/" style="color: black; text-decoration: none">종로1가</a>
                                                <a href="/" style="color: black; text-decoration: none">종로2가</a>
                                                <a href="/" style="color: black; text-decoration: none">태평로1가</a>
                                                <a href="/" style="color: black; text-decoration: none">태평로2가</a>
                                                <a href="/" style="color: black; text-decoration: none">태평로3가</a>
                                                <a href="/" style="color: black; text-decoration: none">포정동</a>
                                                <a href="/" style="color: black; text-decoration: none">하서동</a>
                                                <a href="/" style="color: black; text-decoration: none">향촌동</a>
                                                <a href="/" style="color: black; text-decoration: none">화전동</a>
                                        			</div>
                                        		</li>
                                        	</ul>
                                        </div><!--end of tabs container-->
                                      </div>
                                    </form>
                            </nav>
                        </div>
                    </div>
                </div>
            </section>
        </div>

          <button id="butt" onClick="fnMove(2);" title="go to top" data-scroll-class="100vh:active">
            <!-- <i class="stack-interface stack-up-open-big"></i> -->
            top
          </button>





        <script type="text/javascript">
        var and = function(){
          var box = document.getElementById('box');
          box.style.display = "block"
        }
        function fnMove(seq){
          var offset = $("#div" + seq).offset();
          $('html, body').animate({scrollTop : offset.top}, 400);
        }


      //마크 클릭하면 밑에 추가 창 생기게하기
      var toggle = function(){
        var box = document.getElementById('box');
        if(box.style.display === 'none'){
          box.style.display = "block";
        }else{
          box.style.display = 'none';
        }
      }



      function initialize() {
        var mapLocation = new google.maps.LatLng('35.890056', '128.611328'); // 지도에서 가운데로 위치할 위도와 경도
        var markLocation = new google.maps.LatLng('35.890056', '128.611328'); // 마커가 위치할 위도와 경도

        //화장실 마커
        var bathLocation1 = new google.maps.LatLng('35.890434', '128.611986');
        var bathLocation2 = new google.maps.LatLng('35.890217', '128.610881');

        var mapOptions = {
            center: mapLocation, // 지도에서 가운데로 위치할 위도와 경도(변수)
            zoom: 17, // 지도 zoom단계
            mapTypeId: google.maps.MapTypeId.ROADMAP
          };
        var map = new google.maps.Map(document.getElementById("map-canvas"), // id: map-canvas, body에 있는 div태그의 id와 같아야 함
            mapOptions);

          // var size_1 = 60; // 마커로 사용할 이미지의 가로 크기
          // var size_2 = 60; // 마커로 사용할 이미지의 세로 크기
          // var size_x = 40;
          // var size_y = 40;
          //
          // // // 마커로 사용할 이미지 주소
          // // var marker = new google.maps.MarkerImage( 'http://labs.google.com/ridefinder/images/mm_20_green.png',new google.maps.Size(size_1, size_2),'', '',new google.maps.Size(size_1, size_2));
          // //
          // // //화장실 마커
          // // var image = new google.maps.MarkerImage( "/src/icon/toilet.png",new google.maps.Size(size_x, size_y),'','',new google.maps.Size(size_x, size_y));
        var icons = {
          marker: {
            icon: '/location.png'
          },
          info: {
            icon: '/화장실.png'
          }
        };


        nowlocation = new google.maps.Marker({
          position: markLocation, // 마커가 위치할 위도와 경도(변수)
          map: map,
          icon: icons.marker.icon, // 마커로 사용할 이미지(변수)
    //      info: '말풍선 안에 들어갈 내용',
          title: '현재 위치 입니다.' // 마커에 마우스 포인트를 갖다댔을 때 뜨는 타이틀
        });

        bath1 = new google.maps.Marker({
          position: bathLocation1, // 마커가 위치할 위도와 경도(변수)
          map: map,
          icon: icons.info.icon, // 마커로 사용할 이미지(변수)
    //      info: '말풍선 안에 들어갈 내용',
          title: '화장실위치 1' // 마커에 마우스 포인트를 갖다댔을 때 뜨는 타이틀
        });

        bath2 = new google.maps.Marker({
          position: bathLocation2, // 마커가 위치할 위도와 경도(변수)
          map: map,
          icon: icons.info.icon, // 마커로 사용할 이미지(변수)
    //      info: '말풍선 안에 들어갈 내용',
          title: '화장실위치 2' // 마커에 마우스 포인트를 갖다댔을 때 뜨는 타이틀
        });

        var content0 = "현재 위치 입니다.";
        var content1 = "본관 화장실 정보에요!!"; // 말풍선 안에 들어갈 내용
        var content2 = "교수동 화장실 정보에요!!";

          // 마커를 클릭했을 때의 이벤트. 말풍선 뿅~
        var infowindow0 = new google.maps.InfoWindow({ content: content0});
        var infowindow1 = new google.maps.InfoWindow({ content: content1});
        var infowindow2 = new google.maps.InfoWindow({ content: content2});



        google.maps.event.addListener(nowlocation, "click", function() {
          infowindow0.close();
          infowindow1.close();
          infowindow2.close();
          infowindow0.open(map,nowlocation);

        });
        google.maps.event.addListener(bath1, "click", function() {
          infowindow0.close();
          infowindow1.close();
          infowindow2.close();
          infowindow1.open(map,bath1);
            toggle();

        });
        google.maps.event.addListener(bath2, "click", function() {
          infowindow0.close();
          infowindow1.close();
          infowindow2.close();
            infowindow2.open(map,bath2);
            toggle();

        });

      }
      google.maps.event.addDomListener(window, 'load', initialize);

      //Button
      window.onscroll = function(){scrollFunction()};
      //스크롤을 20px만큼 내려야지 버튼 생성됨
      function scrollFunction(){
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop>20){
          document.getElementById("butt").style.display = "block";
        } else{
          document.getElementById("butt").style.display = "none";
        }
      }
      // 버튼을 누르면 맨위로 올라감
      function topFunction(){
        document.body.scrollTop = 0;
        document.documentElement.scrollTop=0;
      }
    </script>

    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/flickity.min.js"></script>
    <script src="js/easypiechart.min.js"></script>
    <script src="js/parallax.js"></script>
    <script src="js/typed.min.js"></script>
    <script src="js/datepicker.js"></script>
    <script src="js/isotope.min.js"></script>
    <script src="js/ytplayer.min.js"></script>
    <script src="js/lightbox.min.js"></script>
    <script src="js/granim.min.js"></script>
    <script src="js/jquery.steps.min.js"></script>
    <script src="js/countdown.min.js"></script>
    <script src="js/twitterfetcher.min.js"></script>
    <script src="js/spectragram.min.js"></script>
    <script src="js/smooth-scroll.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>
