<!doctype html>
<html>
  <head>
    <title>박지현</title>
  </head>
  <body>
    <p>ejs 파일입니다.</p>
    <% for(var i = 1; i < 46; i++){ %>
    <img src= "http://nlotto.co.kr/img/index/main_ball_<%= i %>.gif"/>
    <% } %>
    <p>서버에서 받은 값은 <%= num %>입니다.</p>
  </body>
</html>
